.btn1{
width: 100px;
height: 30px;
background-color: #f77181;
font-color: white;
text-align: center;
}
.btn2{
width: 100px;
height: 30px;
background-color: #f77181;

}
.btn3{
width: 100px;
height: 30px;
background-color: #13B635;
}