.page{
	width: 100%;
	height: 800px;
	background-color: #d0d6e0;
}
.logo{
	margin-top: 200px;
width: 100px;
width: 100px;


}
.title{
	margin-left: 120px;
	margin-top: -50px;

}
.loginbutton1{
  background-color: #a5b6d3;
border-radius: 50px;
width: 120px;
height: 35px;
}

.loginbutton{
background-color: #4fd4f2;
border-radius: 50px;
width: 120px;
height: 35px;
margin-left: 30px;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}


div.content{
  background-color: white;
  width: 50%;
  height: 500px;
  margin-top: 50px;
}
div.main{
padding-right: 200px;
padding-top: -80px;

}

.button{
	background-color: #4fd4f2;
border-radius: 50px;
width: 120px;
height: 35px;
margin-left: 90px;
}


.signup{
  background-color: white;
width: 100%;
height: 700px;
margin-left: 20px;

}
.regbutton{
width: 150px;
height: 40px;
border-radius: 50px;
border-color: #3ab5d1;
background-color: #d0e3e8;
}
h4{
margin-left: 200px;
}
.LastName{
margin-left: 300px;
}
#LastName{
margin-left: 210px;}
.PhoneNumber{
margin-left: 400px;
}
#PhoneNumber{
margin-left: 210px;}